    .clearfix::after{
        display: block;
        clear: both;
        content: "";
        visibility: hidden;
        height: 0;
    }
    .clearfix{
        zoom:1;
    }

    .hover_animat{
        box-shadow: 0px 0px 15px 0px rgba(218, 218, 218,.6);
        transition: transform .5s ease;
    }
    .hover_animat:hover{
        box-shadow: 0px 0px 15px 0px rgba(218, 218, 218,1);
        transform:translateY(-10px);
    }

    .custom_bg_color_white{
        background-color: #fff;
    }


    .row_wrap{
        margin-top:30px;
        box-sizing: border-box;
    }

    .row_box{
        padding:20px;
        box-sizing: border-box;
    }

    .row_box>.row_title{
        margin-bottom:20px;
    }

    .return_btn{
      margin-bottom:20px;
    }

    .custom_flex_wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

     .custom_flex_item_4{
        flex: 0 0 24%;
        height:100px;
        overflow: hidden;
        
    }

    .custom_flex_item_3{
        flex: 0 0 32%;
        overflow: hidden;
    }

    .custom_flex_item_2{
        flex: 0 0 48%;
        overflow: hidden;
        
    }

    .assets_title{
        margin-bottom:20px;
    }


    .loding_icon{
        animation: ani-demo-spin 1s linear infinite;
    }

    .table_scroll_wrap{
        overflow: auto;
    }

    