
    .total_data_wrap{
        // margin-top:30px;
        text-align: center;
        .total_data_item{
            .total_icon_box{
                width:35%;
                float:left;
                line-height: 100px;
                i{
                    font-size:35px;
                    color:#fff;
                }
            }

            .total_item_box{
                width:65%;
                float:right;
                height:100%;
                .total_item_box_top,.total_item_box_bottom{
                    height:50%;
                    line-height:50px;
                    color:#515a6e;
                };

                .total_item_box_top{
                    font-size:25px;
                    font-weight: bold;
                };
                .total_item_box_bottom{
                    font-size:16px;
                }
            }
        }
    }

    .data_block{
        height:200px;
    }

     .damage_num_item{
        display: flex;
        flex:15% 0 0;
        padding:5px 0;
        color:#fff;
        align-items: center;
        justify-content: center;
        border-radius:5px;
        &:nth-of-type(1){
            background-color: #19be6b;
        };
        &:nth-of-type(2){
            background-color: #ddbd2b;
        };
        &:nth-of-type(3){
            background-color: #ff9900;
        };
        &:nth-of-type(4){
            background-color: #e46cbb;
        };
        &:nth-of-type(5){
            background-color: #ed4014;
        };
        &:nth-of-type(6){
            background-color: #9a66e4;
        };
    };
    .check_num_item{
        display: flex;
        flex:45% 0 0;
        padding:5px 0;
        color:#fff;
        align-items: center;
        justify-content: center;
        border-radius:5px;
        &:nth-of-type(1){
            background-color: #009688;
        };
        &:nth-of-type(2){
            background-color: #ddbd2b;
        };
    }
    .device_message_num_item{
        display: flex;
        flex:45% 0 0;
        padding:5px 0;
        color:#fff;
        align-items: center;
        justify-content: center;
        border-radius:5px;
        &:nth-of-type(1){
            background-color: #e46cbb;
        };
        &:nth-of-type(2){
            background-color: #9a66e4;
        };
    }
    

    #utilization_line{
        height:500px;
    }

    #importDevice_01_line,#importDevice_02_line{
        height:100px;
    }



    