.password_manage_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    .password_manage_box{
        width:400px;
        background-color: #fff;
        padding:60px 70px;
        box-sizing:border-box;
        .input_title{
            text-align:center;
        }
        .input_item{
            margin:20px 0;
        }
    }
}

#modify_btn{
    width:100%;
    height:40px;
    background:linear-gradient(to right, rgb(255, 96, 52), rgb(238, 10, 36));
    color:#fff
}

.error_msg{
    color:rgb(238, 10, 36);
    margin-top:10px;
}

.hide{
    display: none;
}