<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.example.demo.mapper.ICheckMapper"> 
		
	
    <!-- 插入盘点时间 -->
    <insert id="insertChecked" parameterType="com.example.demo.domain.Check">
        INSERT INTO `check` (checkpep,checkTime,checkOnlyCode,auditpep,checkNum) VALUES (#{checkpep},#{checkTime},#{checkOnlyCode},#{auditpep},#{checkNum})
    </insert>
    
    
    <select id="queryChecked" resultType="com.example.demo.domain.Check">
    	select * from `check` 
    </select>
    
    <!-- 根据时间分页查询 -->
    <select id="queryCheckByTime" resultType="com.example.demo.domain.Check">
    	select * from `check` 
    	<where>
            <if test="startTime!= null and startTime!='' and endTime != null and endTime != ''">
                checkTime &gt;= #{startTime} and checkTime &lt;= #{endTime}
            </if>
        </where>
    </select>
</mapper>  