
#mobile_login_wrap{
    // width:100%;
    // height:100%;
    padding:20px;
    box-sizing: border-box;

    .login_logo_box{
        // display: flex;
        // flex:0 0 30%;
        // align-items: center;
        img{
            width:80px;
            height:80px;
        }
    }

    .login_form_box{
        // flex:1;
        .login_form_item{
            margin-bottom:20px;
            .input_border_box{
                padding:0 16px;
                .input_border_line{
                    width:100%;
                    height:1px;
                    background-color:#eaecf1;
                    &.focus{
                        background-color:#2153a3;
                    }

                }

            }
        }
    
    }
}


.submit_button{
    width:100%;
}
.verification_code_box{
    height:24px;
    padding:10px 0;
    line-height: 24px;
    text-align: center;
    box-sizing: content-box;
    h3{
        font-size:24px;
    }
}